@font-face {
  font-family: Work Sans;
  src: url("../fonts/Work Sans.ttf");
}
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade-in-down {
  opacity: 0;
  animation: fade-in-down 0.6s ease-out;
  animation-fill-mode: forwards;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  background: rgb(20, 20, 30);
  color: lightgray;
  font-family: Work Sans;
  font-size: small;
  height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.flex-column, .box.content, .box, body,
main,
header {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 125%;
}

a {
  color: #939393;
  text-decoration: none;
}

#tab1:checked ~ .tab-contents #panel-one,
#tab2:checked ~ .tab-contents #panel-two,
#tab3:checked ~ .tab-contents #panel-three,
#tab4:checked ~ .tab-contents #panel-four {
  display: block;
  transition: all 0.15s linear;
}

.tab-container input[type=radio] {
  display: none;
}

.tab-contents .tab-content {
  display: none;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs {
  margin-bottom: 1rem;
}
.tabs label {
  background-color: royalblue;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: center;
  transition: all 0.15s linear;
}
.tabs label:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

select {
  border: 0;
  font-family: Work Sans;
  outline: 0;
  padding: 0.25em;
}

.no-gaps {
  display: flex;
}
.no-gaps :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.no-gaps :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.no-gaps :not(:first-child):not(:last-child) {
  border-radius: 0;
}

@keyframes loading {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
button {
  background-color: #33334c;
  border: 0;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Work Sans;
  min-width: 10rem;
  padding: 0.5em 0;
  transition: all 0.15s linear;
}
button:hover {
  cursor: pointer;
  filter: brightness(1.25);
}
button.is-loading {
  pointer-events: none;
}
button.is-loading:after {
  animation: spin 0.6s infinite linear;
  border: 2px solid lightgray;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
}

.squish {
  transition: min-width 0.4s ease-in-out;
  min-width: 3em;
}

.space-children-bottom > *:not(:last-child), .box > *:not(:last-child) {
  margin-bottom: 1rem;
}

a {
  transition: all 0.2s ease;
}
a a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #485fc7;
}
a:hover {
  color: #bababa;
}

.secondary-text-color {
  color: #939393;
}

.box {
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  display: flex;
  padding: 3rem;
  background-color: rgb(30, 30, 45);
}
.box:not(:last-child) {
  margin-bottom: 1rem;
}

i.icon-left input[type=text] {
  padding-left: 3rem;
  width: 100%;
}
i.icon-left::before {
  position: absolute;
  top: 50%;
  line-height: 0;
  margin: 0 1rem;
}

.control {
  transition: width 0.5s ease-in-out;
}

.rounded-light {
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

.rounded {
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.rounded-heavy {
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  transition: all 0.15s linear;
}
.checkbox label {
  margin: 0 0 0 0.5em;
}
.checkbox:focus {
  color: #ededed;
}

input[type=text] {
  background: #28283d;
  border: 0;
  color: lightgray;
  font-family: Work Sans;
  padding: 1em 1.5em;
  outline: none;
  transition: all 0.15s linear;
}
input[type=text]:focus {
  background-color: #32324b;
}

.no-width {
  width: 0;
}

.field {
  box-sizing: border-box;
  position: relative;
}

/* Flexbox classes */
.vertical-left {
  justify-content: left;
}

.vertical-center {
  justify-content: center;
}

.vertical-right {
  justify-content: right;
}

.horizontal-left {
  align-items: left;
}

.horizontal-center {
  align-items: center;
}

.horizontal-right {
  align-items: right;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col.align-v {
  justify-content: center;
}
.flex-col.align-h {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.align-v {
  align-items: center;
}
.flex-row.align-h {
  justify-content: center;
}

/* Font classes */
.extra-extra-large-font {
  font-size: xx-large;
}

.extra-large-font {
  font-size: x-large;
}

.large-font {
  font-size: large;
}

.small-font {
  font-size: small;
}

.extra-small-font {
  font-size: x-small;
}

.extra-extra-small-font {
  font-size: xx-small;
}

/* Generic styling classes */
.drop-shadow, a a.box:hover, a a.box:focus {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.evenly-spaced > * {
  flex: 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Dividers */
hr {
  border: 0;
  opacity: 0.2;
  border-top: 2px solid lightgray;
}
/* Typography */
.align-text-left {
  text-align: left;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-italic {
  font-style: italic;
}

.is-underlined {
  text-decoration: underline;
}

/* .tabs {
	position: relative;
	min-height: 200px;
	clear: both;

	.tab {
		float: left;

		label {
			background: #eee;
			border: 1px solid lightgray;
			position: relative;
		}

		input[type="radio"] {
			display: none;
			margin: 0;
			padding: 0;
		}

		.content {
			position: absolute;
			top: 28px;
			left: 0;
			background: white;
			right: 0;
			bottom: 0;
			padding: 20px;
			border: 1px solid #ccc;
			overflow: hidden;

			& > * {
				opacity: 0;
				transform: translateX(-100%);
				transition: all 0.6s ease;
			}
		}
	}
}

[type="radio"]:focus ~ label {
	outline: 2px solid blue;
}
[type="radio"]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
	z-index: 1;
}
[type="radio"]:checked ~ label ~ .content > * {
	opacity: 1;
	transform: translateX(0);
}
 */
/* .tabs {
	position: relative;
	min-height: 200px;
	min-width: 200px;
	clear: both;

	.tab {
		float: left;

		label {
			color: black;
			background: #eee;
			border: 1px solid lightgray;
		}

		input[type="radio"] {
			display: none;
			margin: 0;
			padding: 0;
		}

		.content {
			position: absolute;
			top: 28px;
			left: 0;
			background: white;
			right: 0;
			bottom: 0;
			padding: 20px;
			border: 1px solid #ccc;
			overflow: hidden;

			& > * {
				opacity: 0;
				transform: translateX(-100%);
				transition: all 0.6s ease;
			}
		}
	}
} 

[type="radio"]:focus ~ label {
	outline: 2px solid blue;
}
[type="radio"]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
	z-index: 1;
}
[type="radio"]:checked ~ label ~ .content > * {
	opacity: 1;
	transform: translateX(0);
} */
input[type=checkbox] {
  display: none;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  color: lightgray;
  background: #0069ff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
  color: #fff;
}
.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 1rem;
  transition: transform 0.2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg);
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 228px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*# sourceMappingURL=main.css.map */
